*{
    margin: 0 auto;
}
/*Estetica de la fuente*/ 
img {
    width: 175px;
    position: absolute;
    left: 10px;
    top: 10px
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: rgb(0, 0, 0);

}
/*for section text start here (en ingles para mas mamon)*/


#about {
	padding:3% 0%;
}
#about .heading {
	text-align:center;
}
/* service stylesheets include here {en ingles para verme mas mamon}*/
#service {
    padding: 2% 0%;
    text-align: center;
}
#service .heading {
    text-align:center;
}
#features-sec{
    padding:100px 0;
}
#features-sec.media.service-box:first-child {
    margin: top 8px;;
}
#portfolio {
    padding:3% 0%;
}
#portfolio .heading {
    text-align:center;
}
#pricing {
    padding:3% 0%;
}
#pricing .heading {
    text-align:center;
}
#team {
    padding:3% 0%;
}
#team .heading {
    text-align:center;
}
#blog {
    padding:3% 0%;
}
#blog .heading {
    text-align:center;
}
#contact {
    padding:3% 0%;
}
#contact .heading {
    text-align:center;  }
/* Navegador Estilos include here*/
.navbar-default {
    background-color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
}