.navbar-brand{
    position: relative;
    top: 9px;
    display: flex;
    align-items: center;
}
.navbar-brand img {
    width: 100%;
    margin-right: 10px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%; 
    width: 200px;
}
img {
    width: 175px;
    position: center;
    margin: 0 auto;
}
.navbar-default {
    background-color: #000000;
}